@import  'normalize';


$lightGray: #9b9b9b;
$primary: #ff8f6f;
$darkGray: #4A4A4A;

//status Colors
$backlog: $lightGray;
$waiting: #FFBB07;
$review: #E655E5;
$queue: #75BE7F;
$progress:#5F71DF;

//Font Stack
$display: 'Montserrat', sans-serif;
$body: 'Source Sans Pro', sans-serif;

//efault border radius
$radius:3px;


body
{
    font-family: $body;
    color: $lightGray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  opacity: 0;
  transition: 500ms;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $display;
  color: $darkGray;
}

header
{
    width: 100%;
    text-align: center;
}

.logo
{
    font-family: $body;
    font-size: 4rem;
    font-weight: 300;
    padding: 2rem 0 0 0;
    letter-spacing: 20px;
    text-transform: uppercase;
    color: $primary;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  flex-flow: row wrap;
}

.typeHeader {
  text-align: center;
  margin: 3rem 0 6rem 0;
  h2 {
    margin-bottom: 0;
  }
}

.type {
  flex: 1 100%;

}


/* Cards
-------------------------------------*/

.card {
  cursor: pointer;
  border-radius: $radius;
  margin: 1rem;
  padding-right: .7rem;
  position: relative;
  transition: 300ms;
  div {
    background: white;
    min-height: 130px;
    overflow: hidden;
    position: relative;
    top:0px;
    bottom: 0px;
    left:0px;
    right:.5rem;
    padding: 0rem .7rem 1rem 1rem;
  }
}

// Status Colors

@mixin card-color($color) {
    border: 2px solid $color;
    background-color: $color;
    .cardStatus {
      color:$color;
    }
}

.backlog {
  @include card-color($backlog);
}
.waiting {
  @include card-color($waiting);
}
.review {
  @include card-color($review);
}
.queue {
  @include card-color($queue);
}
.progress {
  @include card-color($progress);
}

.card__status {
  font-family: $display;
  text-transform: uppercase;
  font-size: .8rem;
  position: absolute;
  right: .4rem;
  bottom: .5rem;
}
/* Modal
-------------------------------------*/
.modal {
  border-radius:$radius;
  margin: 1rem;
  position: absolute;
  z-index: 300;
  top: 0;
  color: white;
}

.modal__wrap {
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  padding-bottom: 4rem;

}

.modal__mainArea {
  background: white;
  padding: 1rem;
  color: $darkGray;
}

.modal__title {
  text-transform: uppercase;
  font-family: $display;
  font-size: .8rem;
}

.modal__status {
  font-family: $display;
  text-transform: uppercase;
  position: absolute;
  right: .4rem;
  bottom: .5rem;
  font-size: 1.2rem;
  color: white;
}



.modal__statusArea {
  margin: 0 0 2rem 0;
  padding: 1rem;
}

.overlay {
  cursor: pointer;
  background: rgba(255,255,255,.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}



/* Footer
-------------------------------------*/
footer {
  width: 100%;
  background: linear-gradient(
  to right,
  #ff5f6d, #ffc371
  );
  color: white;
  text-align: center;
}

.request {
  font-family: $display;
  font-size: 1.5rem;
  padding: 2rem 0rem;
  min-height: 10rem;
}

.credit {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: .8rem;
  padding: 1rem;
}

@import 'tablet';
