<!DOCTYPE html>
<html>

<head>
    <!-- META -->
    <meta charset="utf-8">
    <title>Lanes</title>
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">


    <!-- STYLES -->
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:300,400" rel="stylesheet">
</head>

<body id="body">
    <header>
        <div id="appName" class="logo">lanes</div>
    </header>
    <div id="lanes" class="container">
        <div class="type">
            <div class="typeHeader">
              <h2>Updates &amp; Maintenance</h2>
              <p>Updated to Text, swap in new Photos</p>
            </div>

            <div v-for="card in cards | filterBy 'updates' in 'type' | orderBy logs " class="card {{ card.status }}">
                <div>
                    <h4>{{ card.title }}</h4>
                    <p>{{ card.description }}</p>
                    <span class="card__status">{{ card.status }}</span>
                </div>
            </div>

        </div>
        <div class="type">
            <div class="typeHeader">
              <h2>Projects</h2>
              <p>Larger sustainable brand</p>
            </div>

            <div v-for="card in cards | filterBy 'projects' in 'type' | orderBy logs " class="card {{ card.status }}">
                <div>
                    <h4>{{ card.title }}</h4>
                    <p>{{ card.description }}</p>
                    <span class="card__status">{{ card.status }}</span>
                </div>
            </div>

        </div>
        <div class="type">
          <div class="typeHeader">
            <h2>Promos &amp; Campaigns</h2>
            <p>Push awareness of new things, quick boosts</p>
          </div>

          <div v-for="card in cards | filterBy 'promos' in 'type' | orderBy logs " class="card {{ card.status }}">
              <div>
                  <h4>{{ card.title }}</h4>
                  <p>{{ card.description }}</p>
                  <span class="card__status">{{ card.status }}</span>
              </div>
          </div>

        </div>
    </div>

<!-- Modal -->
<!-- <div class="modal__wrap">
<div class="overlay"></div>

  <div class="modal waiting">
    <div class="modal__mainArea">
      <h2>Franchisee PowerPoint and brochure</h2>
      <h4 class="modal__title">Description</h4>
      <p>Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui.</p>
      <p>Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui.</p>
    </div>
    <div class="modal__statusArea">
    <h4 class="modal__title">Status Message</h4>
    <p>Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <span class="modal__status">Waiting</span>
    </div>
  </div>
</div> -->
    <footer>
        <div class="request">
            Have a qustion or request?
        </div>
        <div class="credit">made by scribe.</div>
    </footer>
<!--Footer Scripts -->
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>

</html>

<?php

$dog = "" ''

?>
